{% extends 'base.html' %}
{% block content %}
<h1>Home</h1>
<a href="{% url 'signup'%}">Register</a><br>
<a href="{% url 'login'%}">Login</a> <br>
<a href="{% url 'create'%}">create</a><br>
{% if user.is_authenticated %}
{% if encryption %}
<a href="{% url 'getpass'%}">All orders</a><br>
<a href="{% url 'remove'%}">remove encrypting</a><br>
{% else %}
<a href="{% url 'addkeys'%}">Start encrypting</a><br>
<a href="{% url 'all'%}">All orders</a><br>
{% endif %}
{% endif %}
{% for message in messages %}
    <div class="">
        {{ message }}
    </div>
{% endfor %}
<a href=""></a>

<!-- <h1>Encryption and Decryption Test</h1> -->
<!-- 
    <p><strong>Original Message:</strong> {{ message }}</p>
    <p><strong>Encrypted Message:</strong> {{ encrypt_message }}</p>
    <p><strong>Decrypted Message:</strong> {{ decrypted_message1 }}</p> -->

{% endblock %}
