{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="hero">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 font-weight-bold text-center">
                <h1 class="font-weight-bold">All Orders</h1>
            </div>
        </div>
    </div>
</section>


<section id="main">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-lg-9 col-md-11 px-4">
                <div class="content-box">

                    <p class="label mt-4 mb-2">Your order</p>
                    {% if message %}
                    <ul>
                        <li>{{message}}</li>
                    </ul>
                    {% endif %}
                    <table class="table table-bordered">
                        <tr>
                            <th>Tracking code</th>
                            
                        </tr>
                        {% for shipment in shipments %}
                        <tr>
                            <td> <a href="{% url 'detail' shipment.id %}">{{ shipment.tracking_code }} </a></td>
                            
                        </tr>
                        {% endfor %}
                      



                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}