{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Buy</h1>
{% if message %}
<p>{{message}}</p>
{% endif %}
<ul>
    <li>Your Tracking ID is: {{shipment_data.tracking_code}}</li>
    <li>{{ rate_selected.carrier }} {{ rate_selected.service }} -- 
        {{ shipment_data.from_address.name }} ({{ shipment_data.from_address.city }}, {{ shipment_data.from_address.country }}) 
        to {{ shipment_data.to_address.name }} ({{ shipment_data.to_address.city }}, {{ shipment_data.to_address.country }}) 
        --- rate ${{ rate_selected.rate }}</li>
</ul>


{% if user.is_authenticated %}
{% if encryption %}
<a href="{% url 'getpass'%}">All orders</a><br>
{% else %}
<a href="{% url 'all'%}">All orders</a><br>
{% endif %}
{% endif %}


{% endblock %}