{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Order Details</h1>
<li>Your Tracking ID is: {{shipment.tracking_code.data}}</li>
<p>{{ shipment.parcel.data.carrier }} {{ shipment.parcel.data.service }} -- rate ${{ shipment.parcel.data.rate }}
     </p>
     <hr>
     <h2>From Address</h2>
     <p> {{ shipment.from_address.data.name }} --steet:  {{ shipment.from_address.data.street1 }} -- apt: {{ shipment.from_address.data.street2 }} ({{ shipment.from_address.data.city }},{{ shipment.from_address.data.state }}, {{ shipment.from_address.data.country }}) --Phone: {{ shipment.from_address.data.phone }} 
         </p>
         <hr>
         <h2>To Address</h2>
         <p>
            {{ shipment.to_address.data.name }} --steet:  {{ shipment.to_address.data.street1 }} --apt: {{ shipment.to_address.data.street2 }} ({{ shipment.to_address.data.city }},{{ shipment.to_address.data.state }}, {{ shipment.to_address.data.country }}) -- Phone: {{ shipment.to_address.data.phone }} 
         </p>
<p></p>
<p></p>

{% endblock %}