{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Shipment Created Successfully</h2>
{% for rate in rates %}
<form action="" method="post">
    {% csrf_token %}
    <p>Service Type : {{rate.service}}</p>
    <p>Carrier : {{rate.carrier}}</p>
    <p>Delivery Days: {{rate.delivery_days}}</p>
    <p>Rate : {{rate.rate}}$</p>
    <input type="text" value="{{rate.id}}" hidden name="rate_id">
    <button type="submit">Add to cart</button>
    <hr>
</form>
{% endfor %}


{% endblock %}